<header class="site-header ast-primary-submenu-animation-slide-up header-main-layout-1 ast-primary-menu-enabled ast-hide-custom-menu-mobile ast-menu-toggle-icon ast-mobile-header-inline" id="masthead" itemtype="https://schema.org/WPHeader" itemscope="itemscope" itemid="#masthead">

			
			
<div class="main-header-bar-wrap">
	<div class="main-header-bar">
				<div class="ast-container">

			<div class="ast-flex main-header-container">
				
		<div class="site-branding">
			<div class="ast-site-identity" itemtype="https://schema.org/Organization" itemscope="itemscope">
				<span class="site-logo-img">
				<a href="{{ site_url }}" class="custom-logo-link transparent-custom-logo" rel="home" itemprop="url">
				<img width="350" height="72" src="{{ logopath }}" class="custom-logo" alt="" decoding="async" loading="lazy" srcset="{{ logopath }} 300w, {{ logopath }} 570w" sizes="(max-width: 350px) 100vw, 350px"></a></span>			</div>
		</div>

		<!-- .site-branding -->
				<div class="ast-mobile-menu-buttons">

			
					<div class="ast-button-wrap">
			<button type="button" class="menu-toggle main-header-menu-toggle ast-mobile-menu-buttons-fill" aria-controls="primary-menu" aria-expanded="false" data-index="0">
				<span class="screen-reader-text">Main Menu</span>
				<span class="fa fa-bars menu-toggle-icon"></span>
							</button>
		</div>
			
			
		</div>
			<div class="ast-main-header-bar-alignment">
			<div class="main-header-bar-navigation">
			<nav class="ast-flex-grow-1 navigation-accessibility" id="site-navigation" aria-label="Site Navigation" itemtype="https://schema.org/SiteNavigationElement" itemscope="itemscope">
			
              {{ page.primary_menu }}

			</nav></div></div>			</div><!-- Main Header Container -->
		</div><!-- ast-row -->
			</div> <!-- Main Header Bar -->
</div> <!-- Main Header Bar Wrap -->

			
		</header>