  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
 {% block content %}
      <div class="swiper-slide">
        <div class="slide-inner slide-bg-image" data-background="{{ file_url(content.field_image.0['#item'].entity.uri.value) }}">
         {{ content.body[0] }}	
        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->

  {% endblock %}